{% extends "../inicio.html" %}
{% load static %}

<title>{% block title %}Avatar{% endblock %}</title>

{% block contenidoQueCambia %}
<div class="pararegistro">
    <div class="container mt-5 margenPosiciones" style="display: flex; justify-content: center; align-items: center;">
        <form method="POST" enctype="multipart/form-data" class="formRegistro"> {% csrf_token %}
            <h3 style="color: black; font-weight: bold; display: flex; justify-content: center; align-items: center;">Avatar</h3>
            <h5>{{user.username}}</h5>
            <table>
                {{ form.as_p }}
            </table>
            <input type="submit" value="Aceptar">
        </form>
    </div>
</div>
{% endblock %}