{% extends "../inicio.html" %}
{% load static %}

<title>{% block title %}Cambiar Contraseña{% endblock %}</title>

{% block contenidoQueCambia %}
<div class="equipofondo">
    <div class="container mt-5 margenPosiciones" >
        <h3 class="subrayado" style="color: black; font-weight: bold;">Cambiar Contraseña</h3>
        <div class="d-flex justify-content-center">
            <form method="POST" class="formRegistro" > {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <div style="display: flex; justify-content: center; margin-top: 10px;">
                    <input class="btn btn-primary mb-3 mr-5" type="submit" value="Guardar Cambios">
                    <a href="{% url 'perfil' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
