{% extends "../inicio.html" %}
{% load static %}
<title>{% block title %}Perfil{% endblock %}</title>

{% block contenidoQueCambia %}
<div class="equipofondo">
    <div class="container mt-5 margenPosiciones">
        <h3 class="subrayado" style="color: black; font-weight: bold;">Editar Perfil</h3>
        <form method="POST"> {% csrf_token %}
            <table id="posiciones" class="tablesorter1">
                {% for field in form %}
                    {% if field.name != 'password' %}  <!-- excluye el cambio de contraseña -->
                        <tr>
                            <th>{{ field.label_tag }}</th>
                            <td>{{ field }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <div style="display: flex; justify-content: center; margin-top: 10px;">
                <input class="btn btn-primary mb-3 mr-5" type="submit" value="Confirmar edición">
                <a href="{% url 'perfil' %}" class="btn btn-secondary mr-5">Cancelar</a>
                <a href="/AppFutbolArg/Perfil/changePassword" class="btn btn-success">Cambiar contraseña</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
