{% extends "../inicio.html" %}
{% load static %}
<title>{% block title %}Perfil{% endblock %}</title>

{% block contenidoQueCambia %}
<div class="contenido  margenPosiciones">
    <div class="container mt-5 margenPosiciones">
        <h3 class="subrayado" style="color: black; font-weight: bold; ">Editar Perfil</h3>
        <form method="POST"> {% csrf_token %}
            <table id="posiciones" class="tablesorter1">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Editar perfil">
        </form>
        <a href="/AppFutbolArg/Perfil/changePassword">Cambiar contraseña</a>
    </div>
</div>
{% endblock %}
