{% extends "../inicio.html" %}
{% load static %}
<title>{% block title %}Perfil{% endblock %}</title>

{% block contenidoQueCambia %}
<div class="paralogin">
    <div class="formRegistro">
        <img src="{{ avatar }}" alt="Avatar" style="width: 120px; height: 120px; display: block; margin: 0 auto;">
        <ul>
            <li><p>Username: {{ request.user.username }}</p></li>
            <li><p>Nombre/s: {{ request.user.first_name }}</p></li>
            <li><p>Apellido/s: {{ request.user.last_name }}</p></li>
            <li><p>Nacionalidad: {{ perfil.nacionalidad }}</p></li>
            <li><p>Hincha de: {{ perfil.hincha }}</p></li>
        </ul>
        <a href="{% url 'editarPerfil' %}" class="btn btn-success" style="text-decoration: none; color: white;">Editar Perfil</a>
        <a href="{% url 'editAvatar' %}" class="btn btn-success" style="text-decoration: none; color: white;">Avatar</a>
    </div>
</div>
{% endblock %}
