<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'AppFutbolArg/css/fabifriasStyles.css' %}" rel="stylesheet">
    <link href="{% static 'AppFutbolArg/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'AppFutbolArg/css/heading.css' %}" rel="stylesheet">
    <link href="{% static 'AppFutbolArg/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'AppFutbolArg/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'AppFutbolArg/js/scripts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <title>{% block title %} Liga Argentina 2023{% endblock %}</title>
</head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top bg-dark" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" href="{% url 'Inicio' %}">LIGA ARGENTINA</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'Posiciones' %}">POSICIONES</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'Fixture' %}">FIXTURE</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'Equipos' %}">EQUIPOS</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'Blogs' %}">BLOGS</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'Blogs' %}">FORO</a></li>
                        {% if user.is_authenticated %}
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'perfil' %}">
                            <img src="{{avatar}}" width="40px" alt="" class="rounded-circle">
                        </a>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'perfil' %}">{{user.username}}</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'login' %}">Iniciar Sesion</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'registro' %}">Registro</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div>
        {% block contenidoQueCambia %}
            <header class="masthead bg-primary text-white text-center">
                <div class="container d-flex align-items-center flex-column container-ajuste-vertical">
                    <img class="masthead-avatar mb-5" src="/static/AppFutbolArg/assets/img/pelota-de-futbol.png" alt="">
                    <h1 class="masthead-heading mb-0">Liga Argentina de Fútbol 2023</h1>
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <p class="pre-wrap masthead-subheading font-weight-light mb-0"> ¡Bienvenidos a la liga de Los Campeones del Mundo!</p>
                </div>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'perfil' %}">Ir a Perfil</a>
                {% else %}
                <div>
                    <a class="btn btn-primary btn-black" href="{% url 'login' %}">Iniciar Sesion</a>
                    <a class="btn btn-primary btn-black" href="{% url 'registro' %}">Registrarse</a>
                </div>
                {% endif %}
            </header>
        </div>
        <footer class="footer text-center">
            <div class="containerfoot">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="container mb-4">ABOUT ME</h4>
                        <p class="pre-wrap lead mb-0"><a href="{% url 'AboutMe' %}" style="color: white">Conoceme</a></p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="mb-4"></h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/FabianFrias25/"><i class="fab fa-github"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/fabian-oscar-frias-5533481b5/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="mb-4">CONTACTO:</h4>
                        <p class="pre-wrap lead mb-0">fabianoscarfrias@gmai.com</p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>