{% extends "AppFutbolArg/Inicio.html" %}
{% load static %}
<title>{% block title %} Log In | Liga Argentina 2023{% endblock %}</title>
{% block contenidoQueCambia %}
<body>
    <div class="paralogin">
        <form action="" method="POST" class="formLogin"> {% csrf_token %}
            <h3 style="color: white; font-weight:bold; margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">Iniciar Sesion</h3>
            <div>
                <input name="user" type="text" placeholder="User" class="inputLogin">
            </div>
            <div>
                <input name="password" type="password" placeholder="Password" class="inputLogin">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            {% if error %}
                <p style="color: red;">{{error}}</p>
            {% endif %}
            <p style="color: white;">¿Aún no tienes una cuenta? <a href="/AppFutbolArg/registro" class="btn btn-success">Registrate</a></p>
        </form>
    </div>
</body>
{% endblock %}