{% extends "AppFutbolArg/Inicio.html" %}
{% load static %}
<title>{% block title %}Posiciones | Liga Argentina 2023{% endblock %}</title>
{% block contenidoQueCambia %}
<div class="equipofondo">
    <div class="container mt-5 margenPosiciones">
    <table id="posiciones" class="tablesorter1">
        <thead>
            <tr style="background: grey; color: darkblack">
                <th>#</th>
                <th>Equipo</th>
                <th class="pts">Puntos</th>
                <th class="pj">PJ</th>
                <th class="g">Gan.</th>
                <th class="e">Emp.</th>
                <th class="p">Per.</th>
                <th class="d">Dif Gol</th>
            </tr>
        </thead>
        <tbody>
            {% for posicion in posiciones %}
            <tr style="color: white">
                <td>{{ forloop.counter }}</td>
                <td>{{ posicion.equipo.nombre }}</td>
                <td>{{ posicion.puntos }}</td>
                <td>{{ posicion.partidosJugados }}</td>
                <td>{{ posicion.ganados }}</td>
                <td>{{ posicion.empatados }}</td>
                <td>{{ posicion.perdidos }}</td>
                <td>{{ posicion.difgol }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
