{% extends "AppFutbolArg/Inicio.html" %}
{% load static %}
<title>{% block title %} Registro | Liga Argentina 2023{% endblock %}</title>
{% block contenidoQueCambia %}
<body>
    <div class="pararegistro">
        <form action="" method="POST" class="formRegistro">
            {% csrf_token %}
            <h3 style="color: darkblack; font-weight:bold; margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">REGISTRO</h3>
            <div>
                <input id="id_username" name="username" type="text" placeholder="User" class="inputLogin">
            </div>
            <div>
                <input id="id_password1" name="password1" type="password" placeholder="Password" class="inputLogin">
            </div>
            <div>
                <input id="id_password2" name="password2" type="password" placeholder="Password Confirmation" class="inputLogin">
            </div>
            <div>
                <input id="id_nacionalidad" name="nacionalidad" type="text" placeholder="Nacionalidad" class="inputLogin">
            </div>
            <div>
                <input id="id_nacimiento" name="nacimiento" type="date" class="inputLogin">
            </div>
            <div>
                <input id="id_hincha" name="hincha" type="text" placeholder="Hincha de" class="inputLogin">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Registrarse</button>
            </div>
            <div>
                <p style="color: darkblack; display: flex; justify-content: center; align-items: center;">¿Ya tienes una cuenta?<a href="/AppFutbolArg/login" class="btn btn-success">Iniciar sesión</a></p>
            </div>
        </form>
    </div>
</body>
{% endblock %}
