
.contenido{
    background-image: url("../assets/img/futbol-background.jpg");
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
}

.equipofondo {
    background-image: url("../assets/img/futbol-background.jpg");
    position: absolute !important;
    height: auto !important;
    width: 100% !important;
}


.container.margenPosiciones {
    margin-top: 100px !important;
}

#posiciones td {
    border: 1px solid black;
    padding: 8px;
    background-color: green;
}

.container.margenTexto {
    margin-top: 200px !important;
}

table {
    color: white;
    border-collapse: collapse;
    width: 100%;
}

table th {
    color: black;
    border: 2px solid black;
    padding: 8px;
    background-color: #ffa500;
}

table td {
    border: 2px solid black;
    padding: 8px;
    background-color: green;
}

.masthead-avatar {
    margin-top: 100px !important;
    width: 100%;
    height: 200%;
}

.paralogin {
    background-image: url("../assets/img/futbol-background.jpg");
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formLogin {
    font-weight: bold;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 7%, rgba(53,0,159,1) 48%);
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    width: 350px;
    height: 400px;
}

.formLogin div {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLogin{
    border-radius: 5px;
    border: 1px solid rebeccapurple;
    width: 90%;
}

.pararegistro {
    background-image: url("../assets/img/futbol-background.jpg");
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formRegistro {
    font-weight: bold;
    background: rgb(48,136,255);
    background: linear-gradient(90deg, rgba(48,136,255,1) 30%, rgba(255,255,255,1) 50%, rgba(54,139,255,1) 70%);
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    width: 400px;
    height: 550px;
}

.formRegistro div {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLogin{
    border-radius: 5px;
    border: 1px solid rebeccapurple;
    width: auto;
}