{% extends "../inicio.html" %}
{% load static %}
<title>{% block title %}Blogs{% endblock %}</title>

{% block contenidoQueCambia %}
<div class="contenidoBlogs">
    <div class="container mt-5 margenPosiciones">
        <h1 style="display: flex; justify-content: center; color: #020004; font-weight: bold;">Historias del Fútbol Argentino</h1>
        <p class="subrayado" style="color: black;">Animate a publicar tu blog de Fútbol: <a href="/AppFutbolArg/blogs/bloguear" class="btn btn-success">BLOGUEA</a></p>
            <div class="prevBlogs">
                <div class="blog-container">
                    {% for blog in blogs %}
                        <div class="blog-item">
                            <h2 style="font-weight: bold;">{{ blog.titulo }}</h2>
                            <h3>{{ blog.subtitulo }}</h3>
                            <p>Autor: <a href="{% url 'visitar_perfil' autor_id=blog.autor.id %}" style="color: white">{{ blog.autor }}</a></p>
                            <p>Fecha: {{ blog.fecha }}</p>
                            <img class="blog-image" src="{{ blog.imagen.url }}" alt="{{ blog.titulo }}">
                            <p>{{ blog.cuerpo|truncatechars:150 }}</p>
                            <a href="{% url 'detalle_blog' blog_id=blog.id %}" style="color: white">Leer más</a>

                            {% if user.is_superuser or blog.autor == user %}
                                <div class="botonesEditarEliminar">
                                    <a href="{% url 'editar_blog' blog_id=blog.id %}" class="btn-editar">Editar</a>
                                    <a href="{% url 'eliminar_blog' blog_id=blog.id %}" class="btn-eliminar">Eliminar</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>
{% endblock %}