{% extends "../inicio.html" %}
{% load static %}

<title>{% block title %}Crear Blog{% endblock %}</title>

{% block contenidoQueCambia %}
<div class="contenidoBlogs">
    <div class="container mt-5 margenPosiciones">
      <div class="d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data" class="blogsCrear"> {% csrf_token %}
          <h1 style="color: #281c34; font-weight: bold; display: flex; justify-content: center; align-items: center;">Escribe tu Blog</h1>
            {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Publicar</button>
            <a href="{% url 'Blogs' %}" class="btn btn-secondary">Cancelar</a>
        </form>
      </div>
    </div>
</div>
{% endblock %}