{% extends "../inicio.html" %}
{% load static %}

<title>{% block title %}Editar Blog{% endblock %}</title>

{% block contenidoQueCambia %}
<div class="contenidoBlogsEditar">
    <div class="container mt-5 margenPosiciones">
        <h1 class="subrayado" style="color: #1D086C; font-weight: bold;">Editar Blog</h1>
        <div class="d-flex justify-content-center">
            <form method="POST" enctype="multipart/form-data" class="formBlogsEditar"> {% csrf_token %}
                {{ form.as_p }}
            <div style="display: flex; justify-content: center; margin-top: 10px;">
                <button style="margin-right: 10px;" type="submit" class="btn btn-primary">Guardar cambios</button>
                <a href="{% url 'detalle_blog' blog_id=blog.id %}" class="btn btn-secondary">Cancelar</a>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
