{% extends "../inicio.html" %}
{% load static %}

<title>{% block title %}Detalle del Blog{% endblock %}</title>

{% block contenidoQueCambia %}
<div class="contenidoBlogsLeer">
    <div class="container mt-5 margenPosiciones">
        <div class="blogsLeer">
            <p>Autor: {{ blog.autor }} - {{ blog.fecha|date:"d/m/Y" }}</p>
            <h2 style="font-weight: bold;">{{ blog.titulo }}</h2>
            <h3>{{ blog.subtitulo }}</h3>
            <img src="{{ blog.imagen.url }}" alt="{{ blog.titulo }}">
            <p>{{ blog.cuerpo }}</p>
        {% if user.is_superuser or blog.autor == user %}
            <a href="{% url 'editar_blog' blog_id=blog.id %}">Editar</a>
            <a href="{% url 'eliminar_blog' blog_id=blog.id %}">Eliminar</a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
